@using VirtualGames.Common.Enums
@using VirtualGames.Data
@using VirtualGames.Data.Boggle
@inject BoggleService Service

<div class="card-body text-center">
    @if (Game?.GetContentAs<BoggleGame>()?.Letters != null)
    {
        @foreach (var letterRow in GetLetterRows())
        {
            <div class="row justify-content-center">
                @foreach (var letter in letterRow)
                {
                    <div class="col-auto square border border-light text-center">
                        <BoggleDieComponent Letter="@letter"/>
                    </div>
                }
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12 mt-2">Time left: @_timer.ToString(@"mm\:ss")</div>
        </div>
    }
    else
    {
        <p>Loading...</p>
    }
</div>
<div class="card-footer text-center">
    <button class="btn btn-success" @onclick="EndGame" disabled="@_buttonsDisabled">End Game</button>
</div>

@code {
    private bool _buttonsDisabled;
    private TimeSpan _timer;

    [Parameter]
    public Game Game { get; set; }

    [Parameter]
    public Action OnLeaveGame { get; set; } = () => { };

    protected override void OnInitialized()
    {
        var gameContent = Game.GetContentAs<BoggleGame>();
        _buttonsDisabled = false;
        _timer = TimeSpan.FromMinutes(2).Subtract(DateTime.UtcNow.Subtract(gameContent.StartTimestamp));
        CountDown();
    }

    private async Task EndGame()
    {
        _buttonsDisabled = true;
        var boggleGame = Game.GetContentAs<BoggleGame>();
        boggleGame.GameState = GameState.Finished;
        await Service.UpdateGameAsync(Game.Id, boggleGame);
        OnLeaveGame();
        _buttonsDisabled = false;
    }

    async void CountDown()
    {
        var lastSavedGame = await Service.GetGameAsync(Game.Id);
        if (lastSavedGame == null)
        {
            return;
        }

        while (_timer.TotalSeconds > 0)
        {
            lastSavedGame = await Service.GetGameAsync(Game.Id);
            if (lastSavedGame == null)
            {
                return;
            }

            var savedGameContent = lastSavedGame.GetContentAs<BoggleGame>();
            if (savedGameContent.GameState == GameState.Finished)
            {
                break;
            }


            await Task.Delay(TimeSpan.FromSeconds(1));
            _timer = _timer.Add(new TimeSpan(0, 0, 0, -1));
            StateHasChanged();
        }

        var gameContent = lastSavedGame?.GetContentAs<BoggleGame>();
        gameContent.GameState = GameState.Finished;
        await Service.UpdateGameAsync(Game.Id, gameContent);
        StateHasChanged();
    }

    IEnumerable<IEnumerable<string>> GetLetterRows()
    {
        var letters = Game.GetContentAs<BoggleGame>().Letters;
        var row1 = letters.Take(4);
        var row2 = letters.Skip(4).Take(4);
        var row3 = letters.Skip(8).Take(4);
        var row4 = letters.Skip(12);
        return new List<IEnumerable<string>>
        {
            row1,
            row2,
            row3,
            row4
        };
    }
}
